<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="ID" name="ID" class="form-control" placeholder="kennitala" required autofocus [(ngModel)]="player.id">
            <input type="text" id="inputName" name="inputName" class="form-control" placeholder="nafn" required autofocus [(ngModel)]="player.name" (input)="onChangeName($event.target.value)">
            
            <div class="radio-gender">
              <label class="radioLabel">
                <input type="radio" id="gender" name="gender" [value]="1" [(ngModel)]="gender">Kk</label>
            </div>
            
            <div class="radio-gender">
              <label class="radioLabel">
                <input type="radio" id="gender" name="gender" [value]="0" [(ngModel)]="gender">Kvk</label>
            </div>

            <input type="text" id="inputMobile" name="inputMobile" class="form-control" placeholder="gsm" required autofocus [(ngModel)]="player.mobile">
            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="netfang" required autofocus [(ngModel)]="player.email">            
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="lykilorð" required [(ngModel)]="player.password">
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="lykilorð endurtekið" required [(ngModel)]="confirm">
            
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="register()">Nýskrá</button>
        </form><!-- /form -->
        <div>        
      </div>      
    </div><!-- /card-container -->
</div><!-- /container -->

<ng-template #messageModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <span id="modalHeader">{{modalHeader}}</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span id="modalMessage">{{modalBody}}</span>

        <div>
                <button type="button" class="btn btn-sm center-block" aria-label="Close" (click)="modalRef.hide()">
                  Loka
                </button>
              </div>
    </div>
  </ng-template>
  <button id="openMessageButton" [hidden]="true" (click)="openModal(messageModal)">Open Modal</button>