<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-body">

          <div class="col-lg-8">
            <table>
              <thead>
                <th style="width:50px">Tími</th>

                <ng-container *ngFor="let court of courts">
                  <th style="width: 150px">{{court.name}}</th>
                </ng-container>
              </thead>

              <ng-container *ngFor="let time of timeSlots; let i = index">
                <tr *ngIf="time.slot == 0">
                  <td [attr.colspan]="time.names.length" style="background-color: lightgray; font-weight: bold">{{getDateString(time.date)}}</td>
                  <td>
                    <button class="btn btn-block btn-primary" id="{{prepareButton(i)}}" (click)="toggleButton(i)">{{(getVisibility(i).isVisible ? "Fela" : "Sýna")}}</button>
                  </td>
                </tr>
                <tr *ngIf="getVisibility(i).isVisible">
                  <td>{{time.time}}</td>
                  <td *ngFor="let name of time.names" [ngStyle]="{'background-color':name.match != null ? getColor(name.match, false) : 'white'}">
                    <label>
                      <input type="radio" name="TimeSlots" [value]="name" (change)="selectTimeslot(name)" />
                      <span *ngIf="name.match == null">---------</span>
                      <span *ngIf="name.match != null" style="color: white">{{name.match.label}}({{name.match.team1.id}}-{{name.match.team2.id}})</span>
                      <span>
                        <button style="margin:0px; padding:0px; " *ngIf="name.match != null" (click)="clearMatchFromSlot(name.match, false)">x</button>
                      </span>
                    </label>
                  </td>
                </tr>
              </ng-container>

            </table>
          </div>

          <div class="col-lg-4">

            <table>
              <thead>
                <th>Leikir</th>
              </thead>
              <ng-container *ngFor="let groupView of groupViews">
                <tr>
                  <td>{{getDescriptionFromType(groupView.type)}} - {{groupView.division}} deild - {{getDescriptionFromGroup(groupView.group)}}
                  </td>
                </tr>

                <ng-container *ngFor="let match of groupView.matches; let i = index">
                  <tr>
                    <td [ngStyle]="{'background-color':getColor(match, true),'color':'white','font-weight':bold}" (click)="assignMatchToSlot(selectedTimeSlot, match, false)">{{match.label}}({{match.team1.id}}-{{match.team2.id}})
                    </td>
                    <td>&nbsp;<button *ngIf="match.courtId >= 0 && i == 0" (click)="autoAssignment(groupView.matches)" class="btn btn-primary" style="height: 18px; padding: 0px;">Sjálfvirk röðun</button></td>
                  </tr>
                </ng-container>

                <br />
                <button class="btn btn-primary" (click)="downloadScoresheet(tournamentId, groupView.type, groupView.division)">Leikskýrslur</button>
                <br />
                <br />

              </ng-container>



            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>