<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div>

          </div>

          <div>

            <label>
              <input type="radio" name="type" value="1" (click)="update(1)"> 2 riðlar - allir við alla
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="type" value="2" (click)="update(2)"> 1 riðill - allir við alla
            </label>
          </div>
          <!-- <div>
            <label>
              <input type="radio" name="type" value="2" (click)="update(3)"> 1 riðill - allir við alla, tvöföld umferð.
            </label>
          </div> -->

          <div *ngIf="groupRule > 0">
            <table>
              <thead>
                <th>Lið</th>
                <th style="width:175px;">Heildarstig</th>
                <th style="width:175px;">Breyta</th>
              </thead>

              <ng-container *ngFor="let group of groups">

                <tr>
                  <td colspan=4>
                    <h4>Riðill {{group.name}}</h4>
                  </td>
                </tr>
                <tr *ngFor="let team of getTeams(group)">
                  <td>{{team.player1Name}}/{{team.player2Name}}</td>

                  <td>{{team.totalTeamPoints}}</td>
                  <td>
                    <button *ngFor="let changegroup of getRemainingGroups(group)" (click)="change(team.teamId, group, changegroup)">{{changegroup.name}}</button>
                  </td>

                </tr>

                
              </ng-container>

            </table>

            <span *ngIf="loaded()">
              <button (click)="calculateMatches()">Reikna leikjaniðurröðun</button>
            </span>

            <table *ngIf="matchFetchCount == 0">
              <thead>
                <th>Lið 1</th>
                <th>Lið 2</th>
              </thead>

              <ng-container *ngFor="let group of groups">
                <tr>
                  <td colspan=2>
                    <h4>Riðill {{group.name}}</h4>
                  </td>
                </tr>

                <tr *ngFor="let match of group.matches">
                  <td>{{getTeamRegistration(match.team1Id).player1Name}} / {{getTeamRegistration(match.team1Id).player2Name}}</td>
                  <td>{{getTeamRegistration(match.team2Id).player1Name}} / {{getTeamRegistration(match.team2Id).player2Name}}</td>
                </tr>

              </ng-container>
            </table>

            <div *ngIf="groupRule == 1 && matchFetchCount >= 0">

              <div>
                <h4>Fyrirkomulag úrslita</h4>
              </div>

              <div>
                <label>
                  <input type="radio" name="finaltype" value="1" (click)="updateFinals(10)"> Efstu 2 í kross + úrslit, jafningaleikir í neðri hluta
                </label>
              </div>
              <div>
                <label>
                  <input type="radio" name="finaltype" value="2" (click)="updateFinals(11)"> Efstu 2 í kross + úrslit, neðri hluti allir við alla
                </label>
              </div>
              <div>
                <label>
                  <input type="radio" name="finaltype" value="2" (click)="updateFinals(13)"> Efstu 2 í kross + úrlist, Neðri 2 í kross + úrslit
                </label>
              </div>
              <div>
                <label>
                  <input type="radio" name="finaltype" value="2" (click)="updateFinals(12)"> Jafningaleikir, engin úrslit
                </label>
              </div>
              
            </div>

            <div *ngIf="finals != null && finals.length > 0">
              <ng-container *ngFor="let match of finals">
                <div>{{match.label}}</div>
              </ng-container>

            </div>

            <button *ngIf="isFinalsDecided" (click)="confirm()">Staðfesta</button>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #messageModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <span id="modalHeader">{{modalHeader}}</span>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span id="modalMessage">{{modalBody}}</span>

    <div>
      <button type="button" class="btn center-block" aria-label="Close" (click)="modalRef.hide()">
        Loka
      </button>
    </div>
  </div>
</ng-template>
<button id="openMessageButton" [hidden]="true" (click)="openModal(messageModal)">Open Modal</button>