<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div>
            
          </div>

          <div>
            
            <label>
              <input type="radio" name="type" value="1" (check)="update(1)"> 2 riðlar - allir við alla + efstu 2 í kross
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="type" value="2"  (check)="update(2)"> 1 riðill - allir við alla
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>