<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-body">

          <div class="btn-group">
            <button [ngClass]="{'btn':true, 'btn-primary': typeSelected == 2}" *ngIf="isTournament(2)" (click)="loadDivisions(2, -1, -1)">Konur</button>
            <button [ngClass]="{'btn':true, 'btn-primary': typeSelected == 1}" *ngIf="isTournament(1)" (click)="loadDivisions(1, -1, -1)">Karlar</button>
          </div>
          <br />
          <span *ngFor="let division of divisions">
            <button [ngClass]="{'btn':true, 'btn-primary': selectedDivision==division && selectedGroup==group}" *ngFor="let group of division.groups"
              (click)="loadDivisionGroup(division, group)">
              {{division.division}} deild - {{group.name}}
            </button>
          </span>

          <span *ngIf="isWaiting">
              <img src="./assets/loading.gif" height="16" width="16" />
          </span>

          <h4 *ngIf="table != null && table.entries != null && table.entries.length > 0">Tafla:</h4>
          <table *ngIf="table != null && table.entries != null && table.entries.length > 0">
            <thead>
              <tr>
                <th>Lið</th>
                <th style="text-align: center">Leikir</th>
                <th style="text-align: center">&nbsp;Unnir</th>
                <th style="text-align: center">&nbsp;Hrinur</th>
                <th style="text-align: center">&nbsp;Stig</th>
                <th style="text-align: center">&nbsp;Hlutföll</th>
              </tr>
            </thead>

            <tr *ngFor="let entry of table.entries">
              <td>{{entry.name}}</td>
              <td style="text-align: center">{{entry.playedMatches}}</td>
              <td style="text-align: center">&nbsp;{{entry.wonMatches}}</td>
              <td style="text-align: center">&nbsp;{{entry.setsWon}} / {{entry.setsLost}}</td>
              <td style="text-align: center">&nbsp;{{entry.pointsFor}} / {{entry.pointsAgainst}}</td>
              <td style="text-align: center">&nbsp;{{formatRatio(entry.ratioWon)}} / {{formatRatio(entry.ratioPoints)}}</td>
            </tr>
          </table>          

          <h4 *ngIf="matchesInGroup.length > 0">Leikir:</h4>

          <table *ngIf="matchesInGroup.length > 0">
            <thead>
              <tr>
                <th>Tími</th>                
                <th>&nbsp;Lið</th>
                <th>&nbsp;Völlur</th>
                <th>&nbsp;Umsjón</th>
                <th>&nbsp;Úrslit</th>                
              </tr>              
            </thead>

            <tr *ngFor="let match of matchesInGroup">
              <td>{{match.date}}</td>
              <td><span *ngIf="match.templateTeam1Id > 0 && match.team1Id != match.templateTeam1Id">({{match.label}})</span>&nbsp;{{match.team1}} - {{match.team2}}
                <button *ngIf="isAdmin() && match.isTemplated" (click)="resolveTeams(match)" style="margin: 0px; padding:0px; font-size: 8px">Uppfæra</button>
                <button *ngIf="isAdmin() && match.isTemplated" (click)="resetTeams(match)" style="margin: 0px; padding:0px; font-size: 8px">Hreinsa</button>
              </td>
              <td>&nbsp;{{match.courtName}}</td>
              <td>
                &nbsp;{{match.support}}

                <button *ngIf="!match.isEditing && isAdminViewer()" style="margin: 0px; padding:0px; font-size: 8px" (click)="editSupport(match)">Breyta</button>
                <input *ngIf="match.isEditing" type="text" [(ngModel)]="match.supportEdit" style="width: 100px" />
                <button *ngIf="match.isEditing" type="button" (click)="confirmSupport(match)" style="margin: 0px; padding:0px; font-size: 8px">Ok</button>

              </td>
              <td>&nbsp;
                {{getMatchResults(match)}}

                <button *ngIf="isAdmin()" (click)="enterResults(match)" style="margin: 0px; padding:0px; font-size: 8px" >Úrslit</button>
              </td>
            </tr>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>