<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->

    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>

      <input type="text" id="name" name="name" class="form-control" placeholder="nafn" required [(ngModel)]="tournament.name" />
      <input type="text" id="description" name="description" class="form-control" placeholder="lýsing" required [(ngModel)]="tournament.description" />
      <input type="date" id="date" name="date" class="form-control" placeholder="dagsetning" required [(ngModel)]="tournament.date" />

      <select [(ngModel)]="selectedLocation" name="location" class="form-control">
          <option *ngFor="let location of locations" [ngValue]="location">{{location.name}}</option>
      </select>

      <div class="radio-gender">
        <label class="radioLabel">
          <input type="checkbox" id="isopen" name="isopen" placeholder="opið fyrir skráningu?" required [(ngModel)]="tournament.isRegistrationOpen"/>Opna fyrir skráningu?
        </label>        
      </div>

      <div class="radio-gender">
        <label class="radioLabel">
          <input type="checkbox" name="kk" [(ngModel)]="isKk"/>Fullorðnir - Karlar
          </label>
          <label class="radioLabel"><input type="checkbox" name="kvk" [(ngModel)]="isKvk"/>Fullorðnir - Konur</label>
          <label class="radioLabel"><input type="checkbox" name="ykk"  [(ngModel)]="isYouthKk"/>Unglingar - Karlar</label>
          <label class="radioLabel"><input type="checkbox" name="ykvk"  [(ngModel)]="isYouthKvk"/>Unglingar - Konur</label>
        
      </div>

      <button class="btn btn-primary btn-block" type="submit" (click)="register()">Skrá</button>

    </form>
    <!-- /form -->
    <div>
    </div>
  </div>
  <!-- /card-container -->
</div>
<!-- /container -->