<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-body">
            <button  style="margin: 1px" (click)="loadScores(selectedYear, 2)" [ngClass]="{'btn': true, 'btn-primary': selectedType == 2}">Konur</button>
            <button  style="margin: 1px" (click)="loadScores(selectedYear, 1)" [ngClass]="{'btn': true, 'btn-primary': selectedType == 1}">Karlar</button>
            
            <button *ngFor="let year of years" [ngClass]="{'btn': true, 'btn-primary': year == selectedYear}" (click)="loadScores(year, selectedType)" style="margin: 1px">{{year}}</button>
            <button (click)="loadScores(5, selectedType)" [ngClass]="{'btn': true, 'btn-primary': selectedYear == 5}">Síðustu 5</button>
            <span *ngIf="isWaiting" ><img src="./assets/loading.gif" height="16" width="16" /></span>
          <div>
            <table *ngIf="isScoreLoaded">
              <tr>
                  <td>#</td>
                <td style="width:175px">Nafn</td>
                <td style="text-align: center;width:75px" *ngFor="let tournament of scores.tournaments">{{tournament.name}}</td>
                <td style="text-align: center;width:75px" *ngIf="selectedYear > 5">Samtals</td>
              </tr>

              <tr *ngFor="let player of scores.playerScores; let i = index" [ngStyle]="{'font-weight':(player.playerId == loggedInPlayerId() ? 'bold' : 'normal')}">
                <td>{{i + 1}}.</td>
                <td nowrap>{{player.name}}</td>
                <td *ngFor="let score of player.score" style="text-align:center;">
                  <div *ngIf="score > 0">{{score}}</div>
                  <div *ngIf="score == 0">&nbsp;</div>
                </td>
                <td style="text-align: center;" *ngIf="selectedYear > 5">{{player.totalScore}}</td>
                <td style="width: 100%">&nbsp;</td>
              </tr>

            </table>
          </div>

       
          
        </div>
      </div>
    </div>
  </div>
</div>