<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-body">

          <span *ngIf="isWaiting">
            <img src="./assets/loading.gif" height="16" width="16" />
          </span>


          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin">

            <div *ngFor="let tournament of tournaments">

              <div class="radio-gender">
                <label class="radioLabel">
                  <input type="radio" name="tournament" [value]="tournament.id" (change)="onTournamentSelected(tournament)" />{{tournament.name}} - {{tournament.date}} - {{tournament.location.name}}
                  <span *ngIf="tournament.isRegistrationOpen">(Opið fyrir skráningu)</span>
                </label>
              </div>
            </div>

            <div *ngIf="selected != null && selected.id >= 0">
              <span>
                Gamalt mót?
                <input name="isComplete" type="checkbox" [(ngModel)]="selected.isComplete">
              </span><br />
              <span>Verð: <input type="text" name="price" [(ngModel)]="selected.price"></span>
              <br />
              <span>Netfang mótshaldara: <input name="emailHost" type="text" [(ngModel)]="selected.emailHost"> </span>
              <br />
              <span>Bankaupplýsingar og kennitala: <input name="bankAccountId" type="text" [(ngModel)]="selected.bankAccountId"> </span>
              <br />

              <button class="btn btn-primary btn-clock" (click)="save(selected)">Vista</button>
            </div>

            <button class="btn btn-primary btn-block" type="submit" (click)="open()" *ngIf="selected != null && selected.id >= 0 && !selected.isRegistrationOpen">Opna fyrir skráningu</button>
            <button class="btn btn-primary btn-block" type="submit" (click)="close()" *ngIf="selected != null && selected.id >= 0 && selected.isRegistrationOpen">Loka fyrir skráningu</button>
            <button class="btn btn-primary btn-block" type="submit" (click)="start()" *ngIf="selected != null && selected.id >= 0 && !selected.isOngoing">Hefja mót</button>
            <button class="btn btn-primary btn-block" type="submit" (click)="end()" *ngIf="selected != null && selected.id >= 0 && selected.isOngoing">Ljúka móti</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>