<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-body">

          <h3>{{yearNow}}<span *ngIf="isWaiting" ><img src="./assets/loading.gif" height="16" width="16" /></span></h3>

          <div *ngFor="let tournament of tournaments">

            <h4>{{tournament.description}}</h4>
            <label>{{getDateString(tournament.date, tournament.days)}} - </label>
            

            <span>{{tournament.location.name}}</span>

            <a *ngIf="tournament.isRegistrationOpen" routerLink="{{tournament.id}}/register">
              - Opið fyrir skráningu!
            </a>

            <a *ngIf="isAdmin()" routerLink="/admin-all-registrations/{{tournament.id}}"> Allar Skráningar (admin) </a>
          </div>

          <h4>Eldri mót</h4>

          <div *ngFor="let tournament of oldTournaments">
            
            <label>{{tournament.date}} - </label>
            <span>{{tournament.name}}</span>

            <span>{{tournament.location.name}}</span>

            <a *ngIf="tournament.isRegistrationOpen" routerLink="{{tournament.id}}/register">
              - Opið fyrir skráningu!
            </a>

            <a *ngIf="isAdmin()" routerLink="/admin-all-registrations/{{tournament.id}}"> Allar Skráningar (admin) </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>