<div class="container">
  <div class="card card-container">

    <h3>Mót sumarsins</h3>

    <div *ngFor="let tournament of tournaments">
      <label>{{tournament.date}} - </label>
      <span>{{tournament.name}}</span>

      <span>{{tournament.location.name}}</span>

      <a *ngIf="tournament.isRegistrationOpen" routerLink="{{tournament.id}}/register">
        - Opið fyrir skráningu!
      </a>
      
      <a *ngIf="isAdmin()" routerLink="/admin-all-registrations/{{tournament.id}}"> Allar Skráningar (admin) </a>
    </div>

  </div>
</div>