<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">

        <div class="panel-body">
          <button style="margin: 1px" (click)="refresh(2)" [ngClass]="{'btn': true, 'btn-sm':true, 'btn-primary': typeSelected == 2}">Konur</button>
          <button style="margin: 1px" (click)="refresh(1)" [ngClass]="{'btn': true, 'btn-sm':true, 'btn-primary': typeSelected == 1}">Karlar</button>
        </div>
        <div class="panel-body">
          <table *ngIf="isRegistrationsLoaded">
            <thead>
              <th style="width:175px;">Leikmaður 1</th>
              <th style="width:175px">Stig</th>
              <th style="width:175px">Leikmaður 2</th>
              <th style="width:175px">Stig</th>
              <th style="width:175px">Heildarstig</th>
              <th style="width:175px">Deild</th>

            </thead>
            <ng-container *ngFor="let division of registrations">
              <tr *ngFor="let registration of division">
                <td>{{registration.player1Name}}</td>
                <td>{{registration.totalPlayer1Points}}</td>
                <td>{{registration.player2Name}}</td>
                <td>{{registration.totalPlayer2Points}}</td>
                <td>{{registration.totalTeamPoints}}</td>
                <td>{{registration.teamDivision}}
                  <div *ngIf='!registration.isReadOnly && !isLocked(division[0].teamDivision)'>
                    <ng-container *ngFor="let d of divisions">
                      <button *ngIf="!isLocked(d)" class="btn btn-xs" (click)="assignDivision(registration.teamId, d)">{{d}}</button>
                    </ng-container>
                  </div>
                </td>
              </tr>

              <tr *ngIf="division[0].teamDivision != 0 && !division[0].isReadOnly && !isLocked(division[0].teamDivision)">
                <button class="btn btn-primary btn-block btn-signin" type="submit" (click)="arrangeMatches(division[0].teamDivision)">Leikjaniðurröðun</button>
              </tr>

              <tr *ngIf="isLocked(division[0].teamDivision)">
                <td colspan="6">
                  <button (click)="viewMatches(division[0].teamDivision)" style="margin: 1px" class="btn btn-sm">Stilla upp tímaplani</button>
                  <button (click)="clearMatches(division[0].teamDivision)" style="margin: 1px" class="btn btn-sm">Hreinsa tímaplan</button>
                  
                </td>
              </tr>

            </ng-container>


          </table>



        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #messageModal>
  <div class="modal-header">
      <h4 class="modal-title pull-left">
          <span id="modalHeader">{{modalHeader}}</span>
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <span id="modalMessage">{{modalBody}}</span>

      <div>
        <div>
          <button class="btn btn-m btn-primary btn-block" type="submit" (click)="confirmDelete()">Já</button>
          <button class="btn btn-m btn-primary btn-block btn-signin" type="submit" (click)="cancelDelete()">Nei</button>
        </div>
        </div>
  </div>
</ng-template>
<button id="openMessageButton" [hidden]="true" (click)="openModal(messageModal)">Open Modal</button>