<div class="container">



  <div class="card card-container">

    <label>
      Hægt er að greiða með því að leggja inn á reikning: xxx-xx-xxxxxx, kennitala: xxxxxx-xxxx og senda kvittun á netfangið x@x.x.
      Einnig er hægt að greiða með Kass eða Aur.
    </label>

    <button class="btn btn-m btn-primary btn-block" type="submit" (click)="payKass(team)">Greiða með KASS</button>
    <button class="btn btn-m btn-primary btn-block" type="submit" (click)="payAur(team)">Greiða með Aur</button>
  </div>



</div>