<div class="container">



  <div class="card card-container">

    <button class="btn btn-m btn-primary btn-block" type="submit" (click)="payDeposit()">Greiða með millifærslu</button>
    <button class="btn btn-m btn-primary btn-block" type="submit" (click)="payKass()">Greiða með Kass frá Íslandsbanka
      <img src="./assets/kass-logo.png" height="16" width="16" />
    </button>
    
    <!--<button class="btn btn-m btn-primary btn-block" type="submit" (click)="payAur()">Greiða með Aur</button>-->
  </div>



</div>