<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <!--<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />-->
        
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" name="inputEmail" class="form-control" placeholder="kennitala" required autofocus [(ngModel)]="player.id">

            <button class="btn btn-primary btn-block" type="submit" (click)="reset()">Senda</button>                        
        </form>
        <!-- /form -->        
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->

<ng-template #messageModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <span id="modalHeader">{{modalHeader}}</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span id="modalMessage">{{modalBody}}</span>
  
        <div>
            <button type="button" class="btn btn-sm center-block" aria-label="Close" (click)="modalRef.hide()">
              Loka
            </button>
          </div>
    </div>
  </ng-template>
  <button id="openMessageButton" [hidden]="true" (click)="openModal(messageModal)">Open Modal</button>
