@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import 'defines.scss';

// http://www.color-hex.com/color-palette/895
body {
    background: linear-gradient(
        rgba(255,204,92, 0.45), 
        rgba(255,204,92, 0.45)
      ), url("/assets/background.jpg")no-repeat center center fixed;     
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 4em;
    font-family:  'Raleway', 'Arial';    
    color: gray;
    padding-top: 75px;      
}

.panel-footer {
    display: none;
}



.panel {
  
    border: 0px;
    border-radius: 0px;
}   

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: rgb(255,111,105);  
    border-color: rgb(255,111,105);      
}

.btn-primary:hover  {
    background-color: rgb(255,111,105);      
    border-color: rgb(255,111,105);  
}

.btn-primary:active  {
    background-color: rgb(255,111,105);      
    border-color: rgb(255,111,105);  
}

.btn-primary:focus  {
    background-color: rgb(255,111,105);      
    border-color: rgb(255,111,105);  
}

ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}

ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:	$font-color;
    font-weight: 700;
    text-decoration:none;
}

.navbar-nav > li > a:hover {
    background: rgb(255,111,105);    
    color: inherit;
}

.card-container.card {
    max-width: 850px;
    padding: 20px 20px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/    
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword,
.form-signin #inputName,
.form-signin #ID,
.form-signin #confirmPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin input[type=date],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: gray;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: $color;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.radio-gender {
    color: rgb(104, 145, 162);
}

.radioLabel {
    font-weight: 200;
}

.navbar {
    background-color: $color;
    
}

.navbar-toggle {
    background-color: rgb(255,111,105)
}

.navbar-toggle .icon-bar {
    background-color: grey;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

h3 {
    color: rgb(255,111,105);
    font-weight: 900
}

.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.checkbox {
    height: 1em;
    width: 1em;
}

$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;

tr:nth-child(even) {
    background-color: rgb(255,238,173);
}

@media (max-width: 699px) { 
    

    body {        
        background: white;
        padding: 0em;
        padding-top: 51px;      
        font-family:  'Arial';
        font-size: 10px;
    }

    .card-container.card {        
        padding: 0px;
    }

    .col-sm-12 {
        padding: 0px;
    }

    .panel-body {
        padding: 0px;
        border-radius: 0px;
    }    

    .panel {
        margin-bottom: 0px;
        border: 0px;
        border-radius: 0px;
    }   

    .col-sm-6 {
        padding:0px;
    }

    .panel-footer {
        display: none;
    }

    .btn {
        font-size: 8px;
    }

}