<div class="container">
  <div class="row">
    <!--<div class="col-sm-4">
      <a routerLink="/rules">
        <div class="panel panel-primary">
          <div class="panel-heading">REGLUR</div>
          <div class="panel-body">
            <img src="./assets/referee.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div class="panel-footer">Almennt um strandblaksreglur</div>
        </div>
      </a>
    </div>-->

    <div class="col-sm-6">
      <a routerLink="/scores/tournaments/">
        <div class="panel panel-primary">
          <div class="panel-heading">MÓTASTAÐA</div>
          <div class="panel-body">
            <img src="./assets/trophy.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div class="panel-footer">Stigastaða allra leikmanna</div>
        </div>
      </a>
    </div>

    <div class="col-sm-6">
      <a routerLink="/tournaments">
        <div class="panel panel-primary">
          <div class="panel-heading">MÓT SUMARSINS</div>
          <div class="panel-body">
            <img src="./assets/courts.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div class="panel-footer">Öll mót sumarsins</div>
        </div>
      </a>
    </div>
   
    <div class="col-sm-6" *ngIf="isLoggedIn()">
      <a routerLink="/my-tournaments">
        <div class="panel panel-primary">
          <div class="panel-heading">MÍNAR SKRÁNINGAR</div>
          <div class="panel-body">
            <img src="./assets/competitions.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div class="panel-footer">Greiða fyrir eða hætta við skráningu</div>
        </div>
      </a>

    </div>

    <div class="col-sm-6" *ngIf="isAdmin()">
      <a routerLink="/admin-tournaments">
        <div class="panel panel-primary">
          <div class="panel-heading">MÓT Í GANGI (admin)</div>
          <div class="panel-body">
            <img src="./assets/competitions.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div class="panel-footer">Opna/Loka fyrir skráningu í mót</div>
        </div>
      </a>

    </div>

    <div class="col-sm-6" *ngIf="isAdmin()">
      <a routerLink="/admin-new-tournament">
        <div class="panel panel-primary">
          <div class="panel-heading">SKRÁ NÝTT MÓT (admin)</div>
          <div class="panel-body">
            <img src="./assets/competitions.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div class="panel-footer">Skrá nýtt mót inn í kerfið</div>
        </div>
      </a>
    </div>

  </div>
</div>
<br>
<br>